<%- include('header') -%>

<h2>Bibliothèque</h2>
<table style="border-collapse: collapse;" width="100%">
  <tr>
    <th align="left">Id</th>
    <th align="left">Titre</th>
    <th align="left">Date emprunt</th>
    <th>Actions</th>
  </tr >
  <% for (const book of books){ %>
    <% let color = "green"%> 
    <% if(!book.EstDepassee&(book.EstEmpruntee)){ color = "orange"};%>
    <% if(book.EstDepassee&(book.EstEmpruntee)){ color = "red"}%>
    <tr style="border: 1pt solid darkgray" bgcolor=<%= color %> >
      <td><%= book.Id %></td>
      <td><%= book.Titre %></td>
      <td>
        <% if(!!book.DateEmprunt){ %>
          <%= book.DateEmprunt.getDate() %>/<%= book.DateEmprunt.getMonth()+1 %>/<%= book.DateEmprunt.getFullYear() %>
        <% } %>
      </td>
      <td align="center">
        <% if(book.EstEmpruntee){ %>
          <button  id="Rendu"
          class="material-icons"
          style="background-color: <%= color %>;"
          onclick=<%= rendu(book.Id)%>
          ><a href="">
            check_circle
          </a>
          </button>
          <% } %>
      </td>
      </tr>
    <% } %>
</table>

<%- include('footer') -%>
